<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add New Student</title>

        <link rel="stylesheet" href="/styles/style.css" />
    </head>
    <body>
        <form action="/students/insert" method="post">
            <label for="id">ID:</label>
            <input type="number" name="id" id="id" />

            <label for="name">Name</label>
            <input type="text" name="name" id="name" />

            <label for="age">Age:</label>
            <input type="number" name="age" id="age" />

            <label for="merit">Merit:</label>
            <input type="number" name="merit" id="merit" />

            <label for="other">Other:</label>
            <input type="number" name="other" id="other" />

            <button type="submit">Submit</button>
        </form>

        <a href="/students">Go back to students page</a>
    </body>
</html>
