<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <h3>Common Programming Languages:</h3>

        <table>
            <tr>
                <th>name</th>
                <th>rating</th>
                <th>trending</th>
            </tr>

            <% languages.forEach((lang)=>{ %>
            <tr>
                <td><%= lang.name %></td>
                <td><%= lang.rating %></td>
                <td><%= lang.trending %></td>
            </tr>
            <% }) %>
        </table>
    </body>
</html>
